/* You can add global styles to this file, and also import other style files */
body {
    padding-top: 5rem;
}

.house {
    height: 3em;
    margin-bottom: 1em;
    border: 1px solid #999;
    border-radius: 5px;
    text-align: center;
    line-height: 3em;
    font-weight: bold;
}
.house:hover {
    cursor: pointer;
    border-color: #000;
}
.house .identifier {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: xx-small;
    line-height: 1em;
}
.player1 {
    background-color: #CCF;
}
.player2 {
    background-color: #FCC;
}
.store {
    text-align: center;
}
.store .seed {
    height: 5em;
    border: 1px solid #999;
    border-radius: 5px;
    line-height: 5em;
    font-weight: bold;
}
