/* You can add global styles to this file, and also import other style files */
body {
    padding-top: 5rem;
}

.board {
    stroke: #333;
    fill: #FFF;
    stroke-width: 3;
}
.store rect{
    stroke: #333;
    stroke-width: 3;
}
.store text {
    text-anchor: middle;
}
.store .seed {
    font-size: 35px;
}

.house rect {
    stroke: #333;
    stroke-width: 3;
}

.house {
    height: 3em;
    margin-bottom: 1em;
    border: 1px solid #999;
    border-radius: 5px;
    text-align: center;
    line-height: 3em;
    font-weight: bold;
}
.house:hover {
    cursor: pointer;
    border-color: #000;
}
.house .identifier {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: xx-small;
    line-height: 1em;
}
.player1 {
    fill: #CCF;
}
.player2 {
    fill: #FCC;
}
.store {
    text-align: center;
}
